body{
    background-color: rgb(64, 59, 59);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#container{
    color: silver;
}
.digit{
    font-size: 150px;
    font-weight: bold;
}
.text{
    font-size: 40px;
    font-weight: bold;
}
#button{
    text-align: center;
    margin-top: 40px;
}
.btn{
    padding: 7px 25px;
    font-size: 50px;
    margin: 0;
    color: white;
    border: 0px;
    cursor: pointer;
}
#start{
    background-color: green;
}
#stop{
    background-color: yellow;
}
#reset{
    background-color: red;
}